
.menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 248px;
    height: 45px;
    margin-left: -15px;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
    user-select: none;

    // background-color: transparent;
    transition: background ease-in-out 100ms;

    &.active{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
        color: var(--white);
    }

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
        color: var(--white);
    }
}

.icons {
    width: 40px;
    margin-top: 2px;
}

