.pages {
    display: flex;
    justify-content: center;
    padding-top: 10%;

    background-image: url("../../../assets/images/bg-login.png");
    height: 732px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 420px;
    width: 500px;

    border: 1px solid rgba(113, 113, 113, 0.548);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);

    background-color: var(--white);

    padding-left: 35px;
}

.extra-height{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 500px;

    border: 1px solid rgba(113, 113, 113, 0.548);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);

    background-color: var(--white);
}

.header {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: -10px;
    user-select: none;

    .h2{
        padding: 10px;
        margin-top: 10PX;
    }
    .p {
        padding: 10px;
    }
}

.forgot-form {
    margin-top: 20px;
}

.label {
    display: block;
    height: 100%;
    color: rgba(6, 6, 6, 0.736);
    margin-left: 5px;
    font-size: 1.5rem;

    user-select: none;
}

.input-text {
    display: block;
    width: 400px;
    height: 40px;

    font-size: 1.6rem;

    padding-left: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid rgba(92, 92, 92, 0.548);

    &:focus{
        border: 1px solid rgba(6, 6, 6, 0.548);
    }
}

.email-error-message {
    font-size: 1.1rem;
    color: red;
}

.toggle-password {
    font-size: 1.3rem;
    color: rgba(6, 6, 6, 0.736);
    user-select: none;

    input {
        width: 11px;
        height: 11px;
    }

    label {
        color:rgba(6, 6, 6, 0.548);

        &:hover {
            color: rgba(6, 6, 6, 0.736);
        }
    }
}

.btn-forgot {
    width: 400px;
    height: 40px;

    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--white);

    margin-top: 10px
    ;
    font-size: 15px;
    font-family: var(--font-family);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
    }
}

.btn-back {
    display: block;

    font-size: 1.3rem;
    background-color: transparent;
    color: rgba(27, 27, 27, 0.548);
    user-select: none;
    
    margin-left: -25px;
    margin-top: 25px;

    &:hover{
        color: rgba(6, 6, 6, 0.736);
    }
}

.password-error-message {
    font-size: 1.1rem;
    color: red;
    margin-left: 5px;
}