.pages {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    background-image: url("../../../assets/images/bg-login.png");
    height: 732px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 530px;
    width: 500px;


    border: 1px solid rgba(113, 113, 113, 0.548);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);

    background-color: var(--white);
}

.extra-height{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 500px;


    border: 1px solid rgba(113, 113, 113, 0.548);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);

    background-color: var(--white);
}

.header {
    width: 100%;
    display: inline-block;
    text-align: center;

    .h2{
        padding: 10px;
        margin-top: 10PX;
    }
    .p {
        padding: 10px;
    }
}

.login-form {
    margin-top: 10px;
    margin-left: 35px;
}

.label {
    display: block;
    height: 100%;
    color: rgba(6, 6, 6, 0.736);
    padding-bottom: 10px;
    margin-left: 5px;
}

.input-text {
    display: block;
    width: 400px;
    height: 40px;

    font-size: 1.6rem;
    color: rgba(6, 6, 6, 0.736);

    padding-left: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid rgba(92, 92, 92, 0.548);

    &:focus{
        border: 1px solid rgba(6, 6, 6, 0.548);
    }
}

.password-error-message {
    font-size: 1.1rem;
    color: red;
    margin-left: 5px;
    margin-bottom: -10px;
}

.toggle-password {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: -10px;

    label, input{
        cursor: pointer;
    }

    label{
        font-size: 1.3rem;
        color: rgba(6, 6, 6, 0.736);
    }

    .check-box{
        margin-right: 5px;
    }
}




.btn-login {
    width: 400px;
    height: 40px;

    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--white);

    font-size: 15px;
    font-family: var(--font-family);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
    }
}

.horizontal {
    display: flex;
    justify-content: center;
    margin-left: -35px;

    .horizontal-lines {
        height: 1px;
        width: 180px;
        background-color: #333;
        margin-top: 12px;
    }

    .text-or {
        margin-left: 10px;
        margin-right: 10px;
        color: rgba(27, 27, 27, 0.548);
        font-size: 1.4rem;
    }
}

.wrapper-forgot-password {
    display: flex;
    justify-content: center;

    font-size: 1.2rem;

    margin-left: -35px;

    margin-top: -10px;

    .forgot-password:hover {
        color: var(--primary);
    }

    .forgot-password {
        color: rgba(6, 6, 6, 0.736);
    }
}

.btn-back {
    margin-left: -25px;
    font-size: 1.3rem;
    background-color: transparent;
    color: rgba(27, 27, 27, 0.548);
    
    &:hover{
        color: rgba(6, 6, 6, 0.736);
    }
}