.wrapper {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
}

.inner {
    height: 100%;
    // width: var(--default-layout-width);
    width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.img {
    height: 60px;
    width: 120px;
    user-select: none;
}

.logo {
    cursor: pointer;
    display: flex;
}

.generic .btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 26px;
    padding-left: 35px;
    background-color: transparent;
    user-select: none;
    
    &.active {
        color: var(--primary);
    }
    
    &:hover{
        color: var(--primary);
        cursor: pointer;
    }

}

.more-btn {
    margin-left: 15px;
    background-color: transparent;
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.user-name {
    cursor: pointer;
    padding-right: 20px;
}