

.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
  
h2 {
  color: #333;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.top-table {
  margin-bottom: 20px;
}

.top-table table {
  width: 100%; 
}
  

.top-table td:first-child {
  width: 30%;
}

.top-table td:nth-child(2) {
  width: 70%;
}

.top-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

thead th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody td {
  text-align: left;
}

.table-subject tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu nền của các dòng chẵn */
}  