.pages {
    display: flex;
    justify-content: center;
    padding-top: 10%;

    background-image: url("../../../assets/images/bg-login.png");
    height: 732px;
}

.blur {
    // margin-left: 20px;
    opacity: 20%;

    // button, input {
    //     pointer-events: none;
    //     user-select: none;
    // }

    form{
        pointer-events: none;
        user-select: none;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 500px;


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid rgba(113, 113, 113, 0.548);
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);

    background-color: var(--white);
}

.header {
    width: 100%;
    display: inline-block;
    text-align: center;

    .h2{
        padding: 10px;
        margin-top: 10PX;
    }
    .p {
        padding: 10px;
    }
}

.forgot-form {
    margin-top: 20px;
    padding-left: 35px;
}

.label {
    display: block;
    height: 100%;
    color: rgba(6, 6, 6, 0.736);
    padding-bottom: 10px;
    margin-left: 5px;
}

.input-text {
    display: block;
    width: 400px;
    height: 40px;

    font-size: 1.6rem;

    padding-left: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 1px solid rgba(92, 92, 92, 0.548);

    &:focus{
        border: 1px solid rgba(6, 6, 6, 0.548);
    }
}

.email-error-message {
    font-size: 1.1rem;
    color: red;
}

.btn-forgot {
    width: 400px;
    height: 40px;

    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--white);

    font-size: 15px;
    font-family: var(--font-family);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
    }
}

.btn-re-login{
    height: 25px;
    width: 80px;
    text-align: center;

    border-radius: 3px;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--white);

    font-size: 1.2rem;
    font-family: var(--font-family);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
        color: var(--white);
    }
}

.horizontal {
    display: flex;
    justify-content: center;
    margin-left: -40px;

    .horizontal-lines {
        height: 1px;
        width: 180px;
        background-color: #333;
        margin-top: 12px;
    }

    .text-or {
        margin-left: 10px;
        margin-right: 10px;
        color: rgba(27, 27, 27, 0.548);
    }
}

.wrapper-login-password {
    display: flex;
    justify-content: center;

    font-size: 1.4rem;

    margin-left: -40px;
    margin-top: -15px;

    .login-password:hover{
        color: var(--primary);
    }
}

.btn-back {
    margin-left: -25px;
    font-size: 1.3rem;
    background-color: transparent;
    color: rgba(27, 27, 27, 0.548);

    &:hover{
        color: rgba(6, 6, 6, 0.736);
    }
}

.model-message{
    height: 200px;
    width: 500px;

    padding: 5px;
    box-sizing: border-box;

    border: 1px solid;

    border-radius: 5px;
    background-color: var(--white);

    .content{

        h3{
            margin-left: 180px;
        }

        p{
            width: 500px;
            font-size: 1.5rem;
            line-height: 30px;

            margin-top: 10px;
        }

        
    }

    .btn-confirm{
        cursor: pointer;
        height: 30px;
        width: 80px;

        margin-left: 40%;
        margin-top: 30px;

        border-radius: 5px;
        background-color: var(--primary);
        color: var(--white);

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
        }
    }
}

.ms{
    font-size: 1.4rem;
}

.btn-re-login{
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
    }
}