.wrapper{
    h2{
        margin-left: 20px;
    }

    hr{
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.btn-export{
    height: 30px;
    width: 150px;
    margin-left: 25px;
    margin-top: 20px;

    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--white);

    font-size: 15px;
    font-family: var(--font-family);

    .icons {
        margin-right: 2px;
        margin-left: 2px;
    }

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.321), rgba(0, 0, 0, 0.321)), var(--primary);
    }
}


.table {
    overflow: auto;

    margin-left: 20px;
}
  
.table table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid rgba(92, 92, 92, 0.134);
    padding: 5px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td:last-child {
    text-align: left;
}



.table-info {
    overflow: auto;

    margin-left: 20px;
    margin-top: 20px;
  }
  
  .table-info table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-info th,
  .table-info td {
    border: 1px solid rgba(92, 92, 92, 0.134);
    padding: 5px;
    text-align: left;
  }
  
  .table-info th {
    background-color: #f2f2f2;
    // font-weight: bold;
  }
  
  .table-info tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-info td:last-child {
    text-align: left;
    }

    .table-info tbody{
        font-size: 1.3rem;

    }